

    h1{background-color: rgb(238, 228, 88);}h1 {color:white;} h1{text-align: center;}
list-group-item active{color:rgb(238, 191, 62);}

.centro{text-align: center;}
.{margin: 10 px;}
h2{text-align: center;}h3{text-align: center;}

